
body{
    background-color: azure;
    font-family: serif;
}


.map{
    position: relative;
    padding-top: 56.25%; /* 9➗16✖️100*/
    margin-bottom: 200px;
}

.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.map2{
    position: relative;
    max-width: 700px;
    margin: auto;
}

.map2::before{
    content: "";
    display: block;
    padding-top: 56.25%;
}

.map2 iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.map3{
    max-width: 700px;
    margin: auto;
    margin-top: 100px;
    aspect-ratio: 16/9;
}

.map3 iframe{
    width: 100%;
    height: 100%;
}

